{% extends 'base.html' %}
{% load static %}

{% block title %}Add Client{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4"><i class="fas fa-user-plus"></i> Add Client</h1>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Add Client</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
